@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		height: 100%;
	}

	@font-face {
		font-family: 'PT Root UI';
		src: url('/fonts/PT-Root-UI_Regular-subset.woff2') format('woff2'),
			url('/fonts/PT-Root-UI_Regular-subset.woff') format('woff');
		font-display: swap;
	}
}
